<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="" color="coink-primary"></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-uppercase" color="coink-secundary" mode="ios">
      número celular
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <app-header [tipo]="1"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="header-text">
      <ion-col size="3">
        <img src="../../assets/img/loader.png">
      </ion-col>
      <ion-col size="8">            
        <p class="description">Digíta el código que recibiste vía <ion-text color="dark">mensaje de texto</ion-text> al -----</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-item color="inputtel">
          <ion-row>
            <ion-col size="2" class="ion-align-self-center">
              <img src="../../assets/img/Colombia.svg" width="35">
            </ion-col>
            <ion-col size="2" class="ion-align-self-center">
              <span> +57 </span>
            </ion-col>
            <ion-col>
              <ion-input type="tel" pattern="[0-9]*" placeholder="(xxx - xxxx xxx)" inputmode="tel" maxlength="10" 
                minlength="10" pattern="number" (window:keydown)="onKey($event)" mask="(xxx - xxxx xxx)" required>
              </ion-input>

            </ion-col>
          </ion-row>
        </ion-item>
        
      </ion-col>
    </ion-row>
  </ion-grid>  

</ion-content>
