.btn-top{
    margin-top: 40px;
}

.header-text {
    margin: 10px;
}

ion-input {
    padding: 25px 0 0 0 !important;
}

.list-ios-lines-full .item, .list-ios .item-lines-full {
    --padding-start: 0px;
}
