<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="" color="coink-primary"></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-uppercase" color="coink-secundary" mode="ios">
      datos de tu cuenta
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <app-header [tipo]="2"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-grid>
    <ion-row class="header-text">
      <ion-col size="3">
        <img src="../../assets/img/loader.png" height="90">
      </ion-col>
      <ion-col size="9">  
        <div class="ion-text-uppercase text-bold" color="coink-secundary">¿Cuales son tus datos?</div>          
        <p class="description">Ahora necesitamos saber algunos datos tuyos</p>
      </ion-col>
    </ion-row>
  </ion-grid>  
  <form >
    <ion-list lines="full" class="ion-no-margin ion-no-padding ion-padding-horizontal">
      <ion-item>
        <ion-select  Placeholder="Tipo de documento" class="coink-select">
          <ion-select-option value="cd">Cédula de Ciudadanía</ion-select-option>
          <ion-select-option value="ce">Cédula de extranjería</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Número de documento" type="number"></ion-input>
      </ion-item>      

      <ion-item>
        <ion-datetime  placeholder="Fecha de nacimientto"></ion-datetime>
      </ion-item>      

      <ion-item>
        <ion-datetime  placeholder="Fecha de expedición del documento"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-select  Placeholder="Género que aparece en tu documento de identidad" class="coink-select">
          <ion-select-option value="m">Masculino</ion-select-option>
          <ion-select-option value="f">Femenino</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <div class="ion-padding btn-top">
      <ion-button shape="round" expand="block" class="ion-no-margin" color="coink-primary" routerLink="/info-details">Continuar</ion-button>
    </div>
  </form>

</ion-content>
