<ion-header [translucent]="true"  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" color="coink-primary" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-slides pager="true" [options]="slideOpts" class="md">

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col class="slidehome">
            <img src="../../assets/img/logo-c.svg" class="logo-c"/>
            <h2 class="ion-text-uppercase">la Alcancía que siempre<br> te acompaña</h2>
            <small>Desliza para aprender más</small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 4</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 5</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 6</h1>
    </ion-slide>
  </ion-slides>   

</ion-content>

<ion-footer class="ion-no-border">
  <ion-col size="8">
    <ion-button shape="round" expand="block" color="coink-primary" routerLink="/register">Regístrate</ion-button>

    <ion-button shape="round" expand="block" color="coink-secundary">Ingresa</ion-button>
  </ion-col>
</ion-footer>

