#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

.slide{
  padding: 40px 0 40px 0;
  
}

.slidehome{
  margin: 10px 0 20px 0;
  >h2 {
    padding: 40px 0 40px 0;
    color: #1eeb00;
    font-size: large;
  }
  >small {
    padding-bottom: 10px;
  }
}

.swiper-slide img {
  width: 150px !important ;
  margin-top: 30px;
}


.coink-primary{
  --background: #1eeb00;
  --color: #004b40;
}

.coink-secundary{
  --background: #004b40;
  --color: #ffffff;
}